---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="about">

      <h1>Acerca de...</h1>
      <p>- Diferentes deportes y extraescolares.</extraescolares>
      <p>- Horarios.
      <p>- Precios.
      </p>
   </BaseLayout>