---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = Astro.fetchContent('./blog/*.md');

// Sort posts based on date
allPosts.sort((a,b) => {
  return new Date(b.date).getTime() - new Date(a.date).getTime();
})
---
<BaseLayout title="Homepage">
  <h1>Blog</h1>
  <p></p>
 
</p>
  {allPosts.map((post) => (
    <div class="blog-post">  
      <div class="title">{post.title}</div>      
      <div class="content">
        <p>{post.short}</p>
      </div>
      <a href={post.url}>Leer más</a> <small class="date">{post.date}</small>
    </div>  
  ))}

  
</BaseLayout>