---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="contact">

      <h1>Contacto</h1>
      <p>Departamento de estraescolares</p>
      <p>Puedes contactarme a través de los siguientes medios:</p>
      <ul>
        <li>Email: departamentoextraescolares@a.escuelaideo.edu.es</li>
        <li>Twitter: @escuelaIDEO</li>
        <li>Instagram:@escuelaIDEO</li>
      </ul>
    </div>
    
      <div class="links">
        <ul>
          <li>
            <a href="/about">Acerca de</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>