<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Lucas" />
    <meta name="keywords" content="HTML, CSS, Astro" />
    <title>AI! que arte! - Página principal</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/base.css')} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;400;600;900&family=Special+Elite&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <!-- Aquí irá el logo -->
        <a href="/home">
          <img src="/logo.png"/>
        </a>
      </div>
      <div id="menu">
        <!-- Aquí irá el listado de opciones -->
        <ul>
          <li>
            <a href="/about">Acerca de</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div> <!-- header -->
    <!-- ======= Bloque de página ======= -->
    <div class="main">
      <h1>Página principal</h1>
      <p>Párrafo de la página principal</p>
    </div>
    <!-- ======== Pie de página ========= -->
    <div class="foot">
      <p>Proyecto para la asignatura de Tecnologías de la Información I de Escuela IDEO</p>
      <p>Autor de la página: Maria</p>
      
      <div class="links">
        <ul>
          <li>
            <a href="/about">Acerca de</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>