<div class="foot">
  <p>Proyecto para la asignatura de Tecnologías de la Información I de Escuela IDEO</p>
  <p>Autor de la página: María Peñalver </p>
  
  <div class="links">
    <ul>
      <li>
        <a href="/about">Acerca de</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/contact">Contacto</a>
      </li>
    </ul>
  </div>
</div>