<div id="menu">
  <!-- Aquí irá el listado de opciones -->
  <ul>
    <li>
      <a href="/lost_item">Objetos Perdidos</a>
    </li>
    <li>
      <a href="/about">Acerca de</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/contact">Contacto</a>
    </li>
  </ul>
</div>